src/main/resources/wsdl/TWINT-AcquirerTransactionInterface_v2.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:transaction="http://twint.ch/services/acquirer/transaction/types/v2"
	xmlns:header="http://twint.ch/services/header/types/v1"
	xmlns:fault="http://twint.ch/services/fault/types/v2"
	xmlns="http://twint.ch/services/acquirer/transaction/v2"
	targetNamespace="http://twint.ch/services/acquirer/transaction/v2">

	<wsdl:types>
		<xs:schema>
			<xs:import schemaLocation="TWINT-AcquirerTransactionInterface_v2.0_types.xsd"
					   namespace="http://twint.ch/services/acquirer/transaction/types/v2" />
			<xs:import schemaLocation="TWINT-AcquirerTransactionInterface_v1_header_types.xsd" namespace="http://twint.ch/services/header/types/v1" />
			<xs:import schemaLocation="TWINT-AcquirerTransactionInterface_v2.0_fault_types.xsd"
					   namespace="http://twint.ch/services/fault/types/v2" />
		</xs:schema>
	</wsdl:types>

	<!-- RequestCheckInToken -->
	<wsdl:message name="RequestCheckInRequest">
		<wsdl:part name="request" element="transaction:RequestCheckInRequestElement" />
	</wsdl:message>
	<wsdl:message name="RequestCheckInResponse">
		<wsdl:part name="response" element="transaction:RequestCheckInResponseElement" />
	</wsdl:message>
	<wsdl:message name="RequestCheckInRequestHeader">
		<wsdl:part name="requestHeader" element="header:RequestHeaderElement" />
	</wsdl:message>
	<wsdl:message name="RequestCheckInResponseHeader">
		<wsdl:part name="responseHeader" element="header:ResponseHeaderElement" />
	</wsdl:message>

	<!-- MonitorCheckIn -->
	<wsdl:message name="MonitorCheckInRequest">
		<wsdl:part name="request" element="transaction:MonitorCheckInRequestElement" />
	</wsdl:message>
	<wsdl:message name="MonitorCheckInResponse">
		<wsdl:part name="response" element="transaction:MonitorCheckInResponseElement" />
	</wsdl:message>
	<wsdl:message name="MonitorCheckInRequestHeader">
		<wsdl:part name="requestHeader" element="header:RequestHeaderElement" />
	</wsdl:message>
	<wsdl:message name="MonitorCheckInResponseHeader">
		<wsdl:part name="responseHeader" element="header:ResponseHeaderElement" />
	</wsdl:message>

	<!-- CancelCheckIn -->
	<wsdl:message name="CancelCheckInRequest">
		<wsdl:part name="request" element="transaction:CancelCheckInRequestElement" />
	</wsdl:message>
	<wsdl:message name="CancelCheckInResponse">
		<wsdl:part name="response" element="transaction:CancelCheckInResponseElement" />
	</wsdl:message>
	<wsdl:message name="CancelCheckInRequestHeader">
		<wsdl:part name="requestHeader" element="header:RequestHeaderElement" />
	</wsdl:message>
	<wsdl:message name="CancelCheckInResponseHeader">
		<wsdl:part name="responseHeader" element="header:ResponseHeaderElement" />
	</wsdl:message>

	<!-- StartOrder -->
	<wsdl:message name="StartOrderRequest">
		<wsdl:part name="request" element="transaction:StartOrderRequestElement" />
	</wsdl:message>
	<wsdl:message name="StartOrderResponse">
		<wsdl:part name="response" element="transaction:StartOrderResponseElement" />
	</wsdl:message>
	<wsdl:message name="StartOrderRequestHeader">
		<wsdl:part name="requestHeader" element="header:RequestHeaderElement" />
	</wsdl:message>
	<wsdl:message name="StartOrderResponseHeader">
		<wsdl:part name="responseHeader" element="header:ResponseHeaderElement" />
	</wsdl:message>

	<!-- MonitorOrderStatus -->
	<wsdl:message name="MonitorOrderRequest">
		<wsdl:part name="request" element="transaction:MonitorOrderRequestElement" />
	</wsdl:message>
	<wsdl:message name="MonitorOrderResponse">
		<wsdl:part name="response" element="transaction:MonitorOrderResponseElement" />
	</wsdl:message>
	<wsdl:message name="MonitorOrderRequestHeader">
		<wsdl:part name="requestHeader" element="header:RequestHeaderElement" />
	</wsdl:message>
	<wsdl:message name="MonitorOrderResponseHeader">
		<wsdl:part name="responseHeader" element="header:ResponseHeaderElement" />
	</wsdl:message>

	<!-- ConfirmOrderStatus -->
	<wsdl:message name="ConfirmOrderRequest">
		<wsdl:part name="request" element="transaction:ConfirmOrderRequestElement" />
	</wsdl:message>
	<wsdl:message name="ConfirmOrderResponse">
		<wsdl:part name="response" element="transaction:ConfirmOrderResponseElement" />
	</wsdl:message>
	<wsdl:message name="ConfirmOrderRequestHeader">
		<wsdl:part name="requestHeader" element="header:RequestHeaderElement" />
	</wsdl:message>
	<wsdl:message name="ConfirmOrderResponseHeader">
		<wsdl:part name="responseHeader" element="header:ResponseHeaderElement" />
	</wsdl:message>

	<!-- CancelOrderStatus -->
	<wsdl:message name="CancelOrderRequest">
		<wsdl:part name="request" element="transaction:CancelOrderRequestElement" />
	</wsdl:message>
	<wsdl:message name="CancelOrderResponse">
		<wsdl:part name="response" element="transaction:CancelOrderResponseElement" />
	</wsdl:message>
	<wsdl:message name="CancelOrderRequestHeader">
		<wsdl:part name="requestHeader" element="header:RequestHeaderElement" />
	</wsdl:message>
	<wsdl:message name="CancelOrderResponseHeader">
		<wsdl:part name="responseHeader" element="header:ResponseHeaderElement" />
	</wsdl:message>

	<!-- FindOrder -->
	<wsdl:message name="FindOrderRequest">
		<wsdl:part name="request" element="transaction:FindOrderRequestElement" />
	</wsdl:message>
	<wsdl:message name="FindOrderResponse">
		<wsdl:part name="response" element="transaction:FindOrderResponseElement" />
	</wsdl:message>
	<wsdl:message name="FindOrderRequestHeader">
		<wsdl:part name="requestHeader" element="header:RequestHeaderElement" />
	</wsdl:message>
	<wsdl:message name="FindOrderResponseHeader">
		<wsdl:part name="responseHeader" element="header:ResponseHeaderElement" />
	</wsdl:message>

	<!-- EnrollCashRegister -->
	<wsdl:message name="EnrollCashRegisterRequest">
		<wsdl:part name="request" element="transaction:EnrollCashRegisterRequestElement" />
	</wsdl:message>
	<wsdl:message name="EnrollCashRegisterResponse">
		<wsdl:part name="response" element="transaction:EnrollCashRegisterResponseElement" />
	</wsdl:message>
	<wsdl:message name="EnrollCashRegisterRequestHeader">
		<wsdl:part name="requestHeader" element="header:RequestHeaderElement" />
	</wsdl:message>
	<wsdl:message name="EnrollCashRegisterResponseHeader">
		<wsdl:part name="responseHeader" element="header:ResponseHeaderElement" />
	</wsdl:message>

	<!-- CheckSystemStatus -->
	<wsdl:message name="CheckSystemStatusRequest">
		<wsdl:part name="request" element="transaction:CheckSystemStatusRequestElement" />
	</wsdl:message>
	<wsdl:message name="CheckSystemStatusResponse">
		<wsdl:part name="response" element="transaction:CheckSystemStatusResponseElement" />
	</wsdl:message>
	<wsdl:message name="CheckSystemStatusRequestHeader">
		<wsdl:part name="requestHeader" element="header:RequestHeaderElement" />
	</wsdl:message>
	<wsdl:message name="CheckSystemStatusResponseHeader">
		<wsdl:part name="responseHeader" element="header:ResponseHeaderElement" />
	</wsdl:message>

	<!-- GetCertificateValidity -->
	<wsdl:message name="GetCertificateValidityRequest">
		<wsdl:part name="request" element="transaction:GetCertificateValidityRequestElement" />
	</wsdl:message>
	<wsdl:message name="GetCertificateValidityResponse">
		<wsdl:part name="response" element="transaction:GetCertificateValidityResponseElement" />
	</wsdl:message>
	<wsdl:message name="GetCertificateValidityRequestHeader">
		<wsdl:part name="requestHeader" element="header:RequestHeaderElement" />
	</wsdl:message>
	<wsdl:message name="GetCertificateValidityResponseHeader">
		<wsdl:part name="responseHeader" element="header:ResponseHeaderElement" />
	</wsdl:message>

	<!-- RenewCertificate -->
	<wsdl:message name="RenewCertificateRequest">
		<wsdl:part name="request" element="transaction:RenewCertificateRequestElement" />
	</wsdl:message>
	<wsdl:message name="RenewCertificateResponse">
		<wsdl:part name="response" element="transaction:RenewCertificateResponseElement" />
	</wsdl:message>
	<wsdl:message name="RenewCertificateRequestHeader">
		<wsdl:part name="requestHeader" element="header:RequestHeaderElement" />
	</wsdl:message>
	<wsdl:message name="RenewCertificateResponseHeader">
		<wsdl:part name="responseHeader" element="header:ResponseHeaderElement" />
	</wsdl:message>

	<!-- StartRegistration -->
	<wsdl:message name="StartUofRegistrationRequest">
		<wsdl:part name="request" element="transaction:StartUofRegistrationRequestElement" />
	</wsdl:message>
	<wsdl:message name="StartUofRegistrationResponse">
		<wsdl:part name="response" element="transaction:StartUofRegistrationResponseElement" />
	</wsdl:message>
	<wsdl:message name="StartUofRegistrationRequestHeader">
		<wsdl:part name="requestHeader" element="header:RequestHeaderElement" />
	</wsdl:message>
	<wsdl:message name="StartUofRegistrationResponseHeader">
		<wsdl:part name="responseHeader" element="header:ResponseHeaderElement" />
	</wsdl:message>

	<!-- MonitorUofRegistration -->
	<wsdl:message name="MonitorUofRegistrationRequest">
		<wsdl:part name="request" element="transaction:MonitorUofRegistrationRequestElement" />
	</wsdl:message>
	<wsdl:message name="MonitorUofRegistrationResponse">
		<wsdl:part name="response" element="transaction:MonitorUofRegistrationResponseElement" />
	</wsdl:message>
	<wsdl:message name="MonitorUofRegistrationRequestHeader">
		<wsdl:part name="requestHeader" element="header:RequestHeaderElement" />
	</wsdl:message>
	<wsdl:message name="MonitorUofRegistrationResponseHeader">
		<wsdl:part name="responseHeader" element="header:ResponseHeaderElement" />
	</wsdl:message>

	<!-- ConfirmUofRegistration -->
	<wsdl:message name="ConfirmUofRegistrationRequest">
		<wsdl:part name="request" element="transaction:ConfirmUofRegistrationRequestElement" />
	</wsdl:message>
	<wsdl:message name="ConfirmUofRegistrationResponse">
		<wsdl:part name="response" element="transaction:ConfirmUofRegistrationResponseElement" />
	</wsdl:message>
	<wsdl:message name="ConfirmUofRegistrationRequestHeader">
		<wsdl:part name="requestHeader" element="header:RequestHeaderElement" />
	</wsdl:message>
	<wsdl:message name="ConfirmUofRegistrationResponseHeader">
		<wsdl:part name="responseHeader" element="header:ResponseHeaderElement" />
	</wsdl:message>

	<!-- CancelUofRegistration -->
	<wsdl:message name="CancelUofRegistrationRequest">
		<wsdl:part name="request" element="transaction:CancelUofRegistrationRequestElement" />
	</wsdl:message>
	<wsdl:message name="CancelUofRegistrationResponse">
		<wsdl:part name="response" element="transaction:CancelUofRegistrationResponseElement" />
	</wsdl:message>
	<wsdl:message name="CancelUofRegistrationRequestHeader">
		<wsdl:part name="requestHeader" element="header:RequestHeaderElement" />
	</wsdl:message>
	<wsdl:message name="CancelUofRegistrationResponseHeader">
		<wsdl:part name="responseHeader" element="header:ResponseHeaderElement" />
	</wsdl:message>

	<!-- DeregisterUofConnection -->
	<wsdl:message name="DeregisterUofConnectionRequest">
		<wsdl:part name="request" element="transaction:DeregisterUofConnectionRequestElement" />
	</wsdl:message>
	<wsdl:message name="DeregisterUofConnectionResponse">
		<wsdl:part name="response" element="transaction:DeregisterUofConnectionResponseElement" />
	</wsdl:message>
	<wsdl:message name="DeregisterUofConnectionRequestHeader">
		<wsdl:part name="requestHeader" element="header:RequestHeaderElement" />
	</wsdl:message>
	<wsdl:message name="DeregisterUofConnectionResponseHeader">
		<wsdl:part name="responseHeader" element="header:ResponseHeaderElement" />
	</wsdl:message>


	<!-- Exceptions -->
	<wsdl:message name="SystemException">
		<wsdl:part name="fault" element="fault:SystemError" />
	</wsdl:message>
	<wsdl:message name="InvalidParameterException">
		<wsdl:part name="fault" element="fault:InvalidParameter" />
	</wsdl:message>
	<wsdl:message name="InvalidMerchantException">
		<wsdl:part name="fault" element="fault:InvalidMerchant" />
	</wsdl:message>
	<wsdl:message name="InvalidTerminalException">
		<wsdl:part name="fault" element="fault:InvalidTerminal" />
	</wsdl:message>
	<wsdl:message name="InvalidAmountException">
		<wsdl:part name="fault" element="fault:InvalidAmount" />
	</wsdl:message>
	<wsdl:message name="InvalidCurrencyException">
		<wsdl:part name="fault" element="fault:InvalidCurrency" />
	</wsdl:message>
	<wsdl:message name="InvalidOfflineAuthorizationException">
		<wsdl:part name="fault" element="fault:InvalidOfflineAuthorization" />
	</wsdl:message>
	<wsdl:message name="InvalidOrderException">
		<wsdl:part name="fault" element="fault:InvalidOrder" />
	</wsdl:message>
	<wsdl:message name="InvalidCustomerRelationKeyException">
		<wsdl:part name="fault" element="fault:InvalidCustomerRelationKey" />
	</wsdl:message>
	<wsdl:message name="InvalidVoucherCategoryException">
		<wsdl:part name="fault" element="fault:InvalidVoucherCategory" />
	</wsdl:message>
	<wsdl:message name="InvalidVoucherException">
		<wsdl:part name="fault" element="fault:InvalidVoucher" />
	</wsdl:message>
	<wsdl:message name="DuplicateOrderException">
		<wsdl:part name="fault" element="fault:DuplicateOrder" />
	</wsdl:message>
	<wsdl:message name="StatusTransitionErrorException">
		<wsdl:part name="fault" element="fault:StatusTransitionError" />
	</wsdl:message>
	<wsdl:message name="ActiveOrderErrorException">
		<wsdl:part name="fault" element="fault:ActiveOrderError" />
	</wsdl:message>
	<wsdl:message name="AuthorizationErrorException">
		<wsdl:part name="fault" element="fault:AuthorizationError" />
	</wsdl:message>
	<wsdl:message name="TimeoutErrorException">
		<wsdl:part name="fault" element="fault:TimeoutError" />
	</wsdl:message>
	<wsdl:message name="ReversalErrorException">
		<wsdl:part name="fault" element="fault:ReversalError" />
	</wsdl:message>
	<wsdl:message name="ActivePairingErrorException">
		<wsdl:part name="fault" element="fault:ActivePairingError" />
	</wsdl:message>
	<wsdl:message name="UnspecifiedPairingErrorException">
		<wsdl:part name="fault" element="fault:UnspecifiedPairingError" />
	</wsdl:message>
	<wsdl:message name="AccountLockedErrorException">
		<wsdl:part name="fault" element="fault:AccountLockedError" />
	</wsdl:message>
	<wsdl:message name="PairingErrorException">
		<wsdl:part name="fault" element="fault:PairingError" />
	</wsdl:message>
	<wsdl:message name="FundsErrorException">
		<wsdl:part name="fault" element="fault:FundsError" />
	</wsdl:message>
	<wsdl:message name="CashregisterAccessErrorException">
		<wsdl:part name="fault" element="fault:CashregisterAccessError" />
	</wsdl:message>
	<wsdl:message name="BusinessErrorException">
		<wsdl:part name="fault" element="fault:BusinessError" />
	</wsdl:message>
	<wsdl:message name="CertificateRenewalNotAllowedException">
		<wsdl:part name="fault" element="fault:CertificateRenewalRefused" />
	</wsdl:message>
	<wsdl:message name="UofConnectionCanceledException">
		<wsdl:part name="fault" element="fault:UofConnectionCanceled" />
	</wsdl:message>
	<wsdl:message name="UofCredentialsInvalidException">
		<wsdl:part name="fault" element="fault:UofCredentialsInvalid" />
	</wsdl:message>
	<wsdl:message name="InvalidOrderIdException">
		<wsdl:part name="fault" element="fault:InvalidParameter" />
	</wsdl:message>
	<wsdl:message name="UofRegistrationProcessTimeoutDurationTooLongException">
		<wsdl:part name="fault" element="fault:DurationTooLong" />
	</wsdl:message>
	<wsdl:message name="UofNotAllowedException">
		<wsdl:part name="fault" element="fault:UofNotAllowed" />
	</wsdl:message>


	<wsdl:portType name="AcquirerTransactionInterfacePort">

		<wsdl:operation name="RequestCheckIn">
			<wsdl:input message="RequestCheckInRequest" />
			<wsdl:output message="RequestCheckInResponse" />
			<wsdl:fault name="InvalidMerchantException" message="InvalidMerchantException" />
			<wsdl:fault name="InvalidTerminalException" message="InvalidTerminalException" />
			<wsdl:fault name="InvalidOfflineAuthorizationException" message="InvalidOfflineAuthorizationException" />
			<wsdl:fault name="SystemException" message="SystemException" />
		</wsdl:operation>

		<wsdl:operation name="MonitorCheckIn">
			<wsdl:input message="MonitorCheckInRequest" />
			<wsdl:output message="MonitorCheckInResponse" />
			<wsdl:fault name="InvalidMerchantException" message="InvalidMerchantException" />
			<wsdl:fault name="InvalidTerminalException" message="InvalidTerminalException" />
			<wsdl:fault name="InvalidCustomerRelationKeyException" message="InvalidCustomerRelationKeyException" />
			<wsdl:fault name="UnspecifiedPairingErrorException" message="UnspecifiedPairingErrorException" />
			<wsdl:fault name="SystemException" message="SystemException" />
		</wsdl:operation>

		<wsdl:operation name="CancelCheckIn">
			<wsdl:input message="CancelCheckInRequest" />
			<wsdl:output message="CancelCheckInResponse" />
			<wsdl:fault name="InvalidMerchantException" message="InvalidMerchantException" />
			<wsdl:fault name="InvalidTerminalException" message="InvalidTerminalException" />
			<wsdl:fault name="UnspecifiedPairingErrorException" message="UnspecifiedPairingErrorException" />
			<wsdl:fault name="SystemException" message="SystemException" />
		</wsdl:operation>

		<wsdl:operation name="StartOrder">
			<wsdl:input message="StartOrderRequest" />
			<wsdl:output message="StartOrderResponse" />
			<wsdl:fault name="InvalidMerchantException" message="InvalidMerchantException" />
			<wsdl:fault name="InvalidTerminalException" message="InvalidTerminalException" />
			<wsdl:fault name="InvalidAmountException" message="InvalidAmountException" />
			<wsdl:fault name="InvalidCurrencyException" message="InvalidCurrencyException" />
			<wsdl:fault name="InvalidOrderException" message="InvalidOrderException" />
			<wsdl:fault name="DuplicateOrderException" message="DuplicateOrderException" />
			<wsdl:fault name="InvalidOfflineAuthorizationException" message="InvalidOfflineAuthorizationException" />
			<wsdl:fault name="InvalidCustomerRelationKeyException" message="InvalidCustomerRelationKeyException" />
			<wsdl:fault name="UofConnectionCanceledException" message="UofConnectionCanceledException" />
			<wsdl:fault name="UofCredentialsInvalidException" message="UofCredentialsInvalidException" />
			<wsdl:fault name="InvalidOrderIdException" message="InvalidOrderIdException" />
			<wsdl:fault name="UofNotAllowedException" message="UofNotAllowedException" />
			<wsdl:fault name="SystemException" message="SystemException" />
		</wsdl:operation>

		<wsdl:operation name="MonitorOrder">
			<wsdl:input message="MonitorOrderRequest" />
			<wsdl:output message="MonitorOrderResponse" />
			<wsdl:fault name="InvalidMerchantException" message="InvalidMerchantException" />
			<wsdl:fault name="InvalidTerminalException" message="InvalidTerminalException" />
			<wsdl:fault name="InvalidOrderException" message="InvalidOrderException" />
			<wsdl:fault name="SystemException" message="SystemException" />
		</wsdl:operation>

		<wsdl:operation name="ConfirmOrder">
			<wsdl:input message="ConfirmOrderRequest" />
			<wsdl:output message="ConfirmOrderResponse" />
			<wsdl:fault name="InvalidMerchantException" message="InvalidMerchantException" />
			<wsdl:fault name="InvalidTerminalException" message="InvalidTerminalException" />
			<wsdl:fault name="InvalidAmountException" message="InvalidAmountException" />
			<wsdl:fault name="InvalidCurrencyException" message="InvalidCurrencyException" />
			<wsdl:fault name="InvalidOrderException" message="InvalidOrderException" />
			<wsdl:fault name="StatusTransitionErrorException" message="StatusTransitionErrorException" />
			<wsdl:fault name="SystemException" message="SystemException" />
		</wsdl:operation>

		<wsdl:operation name="CancelOrder">
			<wsdl:input message="CancelOrderRequest" />
			<wsdl:output message="CancelOrderResponse" />
			<wsdl:fault name="InvalidMerchantException" message="InvalidMerchantException" />
			<wsdl:fault name="InvalidTerminalException" message="InvalidTerminalException" />
			<wsdl:fault name="InvalidOrderException" message="InvalidOrderException" />
			<wsdl:fault name="StatusTransitionErrorException" message="StatusTransitionErrorException" />
			<wsdl:fault name="SystemException" message="SystemException" />
		</wsdl:operation>

		<wsdl:operation name="FindOrder">
			<wsdl:input message="FindOrderRequest" />
			<wsdl:output message="FindOrderResponse" />
			<wsdl:fault name="InvalidMerchantException" message="InvalidMerchantException" />
			<wsdl:fault name="InvalidTerminalException" message="InvalidTerminalException" />
			<wsdl:fault name="InvalidParameterException" message="InvalidParameterException" />
			<wsdl:fault name="CashregisterAccessErrorException" message="CashregisterAccessErrorException" />
			<wsdl:fault name="SystemException" message="SystemException" />
		</wsdl:operation>

		<wsdl:operation name="EnrollCashRegister">
			<wsdl:input message="EnrollCashRegisterRequest" />
			<wsdl:output message="EnrollCashRegisterResponse" />
			<wsdl:fault name="InvalidMerchantException" message="InvalidMerchantException" />
			<wsdl:fault name="SystemException" message="SystemException" />
		</wsdl:operation>

		<wsdl:operation name="CheckSystemStatus">
			<wsdl:input message="CheckSystemStatusRequest" />
			<wsdl:output message="CheckSystemStatusResponse" />
			<wsdl:fault name="InvalidMerchantException" message="InvalidMerchantException" />
			<wsdl:fault name="InvalidTerminalException" message="InvalidTerminalException" />
			<wsdl:fault name="SystemException" message="SystemException" />
		</wsdl:operation>

		<wsdl:operation name="GetCertificateValidity">
			<wsdl:input message="GetCertificateValidityRequest" />
			<wsdl:output message="GetCertificateValidityResponse" />
			<wsdl:fault name="InvalidMerchantException" message="InvalidMerchantException" />
			<wsdl:fault name="SystemException" message="SystemException" />
		</wsdl:operation>

		<wsdl:operation name="RenewCertificate">
			<wsdl:input message="RenewCertificateRequest" />
			<wsdl:output message="RenewCertificateResponse" />
			<wsdl:fault name="InvalidMerchantException" message="InvalidMerchantException" />
			<wsdl:fault name="CertificateRenewalNotAllowedException" message="CertificateRenewalNotAllowedException" />
			<wsdl:fault name="SystemException" message="SystemException" />
		</wsdl:operation>

		<wsdl:operation name="StartUofRegistration">
			<wsdl:input message="StartUofRegistrationRequest" />
			<wsdl:output message="StartUofRegistrationResponse" />
			<wsdl:fault name="InvalidMerchantException" message="InvalidMerchantException" />
			<wsdl:fault name="UofRegistrationProcessTimeoutDurationTooLongException" message="UofRegistrationProcessTimeoutDurationTooLongException" />
			<wsdl:fault name="UofNotAllowedException" message="UofNotAllowedException" />
			<wsdl:fault name="SystemException" message="SystemException" />
		</wsdl:operation>

		<wsdl:operation name="MonitorUofRegistration">
			<wsdl:input message="MonitorUofRegistrationRequest" />
			<wsdl:output message="MonitorUofRegistrationResponse" />
			<wsdl:fault name="InvalidMerchantException" message="InvalidMerchantException" />
			<wsdl:fault name="UofNotAllowedException" message="UofNotAllowedException" />
			<wsdl:fault name="InvalidOrderException" message="InvalidOrderException" />
			<wsdl:fault name="SystemException" message="SystemException" />
		</wsdl:operation>

		<wsdl:operation name="ConfirmUofRegistration">
			<wsdl:input message="ConfirmUofRegistrationRequest" />
			<wsdl:output message="ConfirmUofRegistrationResponse" />
			<wsdl:fault name="InvalidMerchantException" message="InvalidMerchantException" />
			<wsdl:fault name="UofNotAllowedException" message="UofNotAllowedException" />
			<wsdl:fault name="InvalidOrderException" message="InvalidOrderException" />
			<wsdl:fault name="StatusTransitionErrorException" message="StatusTransitionErrorException" />
			<wsdl:fault name="SystemException" message="SystemException" />
		</wsdl:operation>

		<wsdl:operation name="CancelUofRegistration">
			<wsdl:input message="CancelUofRegistrationRequest" />
			<wsdl:output message="CancelUofRegistrationResponse" />
			<wsdl:fault name="StatusTransitionErrorException" message="StatusTransitionErrorException" />
			<wsdl:fault name="InvalidMerchantException" message="InvalidMerchantException" />
			<wsdl:fault name="UofNotAllowedException" message="UofNotAllowedException" />
			<wsdl:fault name="InvalidOrderException" message="InvalidOrderException" />
			<wsdl:fault name="SystemException" message="SystemException" />
		</wsdl:operation>

		<wsdl:operation name="DeregisterUofConnection">
			<wsdl:input message="DeregisterUofConnectionRequest" />
			<wsdl:output message="DeregisterUofConnectionResponse" />
			<wsdl:fault name="InvalidCustomerRelationKeyException" message="InvalidCustomerRelationKeyException" />
			<wsdl:fault name="InvalidMerchantException" message="InvalidMerchantException" />
			<wsdl:fault name="UofNotAllowedException" message="UofNotAllowedException" />
			<wsdl:fault name="SystemException" message="SystemException" />
		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="AcquirerTransactionInterfaceSOAPBinding" type="AcquirerTransactionInterfacePort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="RequestCheckIn">
			<soap:operation soapAction="RequestCheckIn" />
			<wsdl:input>
				<soap:header use="literal" part="requestHeader" message="RequestCheckInRequestHeader" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="responseHeader" message="RequestCheckInResponseHeader" />
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="InvalidMerchantException">
				<soap:fault use="literal" name="InvalidMerchantException" />
			</wsdl:fault>
			<wsdl:fault name="InvalidTerminalException">
				<soap:fault use="literal" name="InvalidTerminalException" />
			</wsdl:fault>
			<wsdl:fault name="InvalidOfflineAuthorizationException">
				<soap:fault use="literal" name="InvalidOfflineAuthorizationException" />
			</wsdl:fault>
			<wsdl:fault name="SystemException">
				<soap:fault use="literal" name="SystemException" />
			</wsdl:fault>
		</wsdl:operation>

	 <wsdl:operation name="MonitorCheckIn">
			<soap:operation soapAction="MonitorCheckIn" />
			<wsdl:input>
				<soap:header use="literal" part="requestHeader" message="MonitorCheckInRequestHeader" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="responseHeader" message="MonitorCheckInResponseHeader" />
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="InvalidMerchantException">
				<soap:fault use="literal" name="InvalidMerchantException" />
			</wsdl:fault>
			<wsdl:fault name="InvalidTerminalException">
				<soap:fault use="literal" name="InvalidTerminalException" />
			</wsdl:fault>
			<wsdl:fault name="InvalidCustomerRelationKeyException">
				<soap:fault use="literal" name="InvalidCustomerRelationKeyException" />
			</wsdl:fault>
			<wsdl:fault name="UnspecifiedPairingErrorException">
				<soap:fault use="literal" name="UnspecifiedPairingErrorException" />
			</wsdl:fault>
			<wsdl:fault name="SystemException">
				<soap:fault use="literal" name="SystemException" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="CancelCheckIn">
			<soap:operation soapAction="CancelCheckIn" />
			<wsdl:input>
				<soap:header use="literal" part="requestHeader" message="CancelCheckInRequestHeader" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="responseHeader" message="CancelCheckInResponseHeader" />
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="InvalidMerchantException">
				<soap:fault use="literal" name="InvalidMerchantException" />
			</wsdl:fault>
			<wsdl:fault name="InvalidTerminalException">
				<soap:fault use="literal" name="InvalidTerminalException" />
			</wsdl:fault>
			<wsdl:fault name="UnspecifiedPairingErrorException">
				<soap:fault use="literal" name="UnspecifiedPairingErrorException" />
			</wsdl:fault>
			<wsdl:fault name="SystemException">
				<soap:fault use="literal" name="SystemException" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="StartOrder">
			<soap:operation soapAction="StartOrder" />
			<wsdl:input>
				<soap:header use="literal" part="requestHeader" message="StartOrderRequestHeader" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="responseHeader" message="StartOrderResponseHeader" />
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="InvalidMerchantException">
				<soap:fault use="literal" name="InvalidMerchantException" />
			</wsdl:fault>
			<wsdl:fault name="InvalidTerminalException">
				<soap:fault use="literal" name="InvalidTerminalException" />
			</wsdl:fault>
			<wsdl:fault name="InvalidAmountException">
				<soap:fault use="literal" name="InvalidAmountException" />
			</wsdl:fault>
			<wsdl:fault name="InvalidCurrencyException">
				<soap:fault use="literal" name="InvalidCurrencyException" />
			</wsdl:fault>
			<wsdl:fault name="InvalidOfflineAuthorizationException">
				<soap:fault use="literal" name="InvalidOfflineAuthorizationException" />
			</wsdl:fault>
			<wsdl:fault name="InvalidOrderException">
				<soap:fault use="literal" name="InvalidOrderException" />
			</wsdl:fault>
			<wsdl:fault name="DuplicateOrderException">
				<soap:fault use="literal" name="DuplicateOrderException" />
			</wsdl:fault>
			<wsdl:fault name="InvalidCustomerRelationKeyException">
				<soap:fault use="literal" name="InvalidCustomerRelationKeyException" />
			</wsdl:fault>
			<wsdl:fault name="UofConnectionCanceledException">
				<soap:fault use="literal" name="UofConnectionCanceledException" />
			</wsdl:fault>
			<wsdl:fault name="UofCredentialsInvalidException">
				<soap:fault use="literal" name="UofCredentialsInvalidException" />
			</wsdl:fault>
			<wsdl:fault name="InvalidOrderIdException">
				<soap:fault use="literal" name="InvalidOrderIdException" />
			</wsdl:fault>
			<wsdl:fault name="UofNotAllowedException">
				<soap:fault use="literal" name="UofNotAllowedException" />
			</wsdl:fault>
			<wsdl:fault name="SystemException">
				<soap:fault use="literal" name="SystemException" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="MonitorOrder">
			<soap:operation soapAction="MonitorOrder" />
			<wsdl:input>
				<soap:header use="literal" part="requestHeader" message="MonitorOrderRequestHeader" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="responseHeader" message="MonitorOrderResponseHeader" />
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="InvalidMerchantException">
				<soap:fault use="literal" name="InvalidMerchantException" />
			</wsdl:fault>
			<wsdl:fault name="InvalidTerminalException">
				<soap:fault use="literal" name="InvalidTerminalException" />
			</wsdl:fault>
			<wsdl:fault name="InvalidOrderException">
				<soap:fault use="literal" name="InvalidOrderException" />
			</wsdl:fault>
			<wsdl:fault name="SystemException">
				<soap:fault use="literal" name="SystemException" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="ConfirmOrder">
			<soap:operation soapAction="ConfirmOrder" />
			<wsdl:input>
				<soap:header use="literal" part="requestHeader" message="ConfirmOrderRequestHeader" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="responseHeader" message="ConfirmOrderResponseHeader" />
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="InvalidMerchantException">
				<soap:fault use="literal" name="InvalidMerchantException" />
			</wsdl:fault>
			<wsdl:fault name="InvalidTerminalException">
				<soap:fault use="literal" name="InvalidTerminalException" />
			</wsdl:fault>
			<wsdl:fault name="InvalidAmountException">
				<soap:fault use="literal" name="InvalidAmountException" />
			</wsdl:fault>
			<wsdl:fault name="InvalidOrderException">
				<soap:fault use="literal" name="InvalidOrderException" />
			</wsdl:fault>
			<wsdl:fault name="InvalidCurrencyException">
				<soap:fault use="literal" name="InvalidCurrencyException" />
			</wsdl:fault>
			<wsdl:fault name="StatusTransitionErrorException">
				<soap:fault use="literal" name="StatusTransitionErrorException" />
			</wsdl:fault>
			<wsdl:fault name="SystemException">
				<soap:fault use="literal" name="SystemException" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="CancelOrder">
			<soap:operation soapAction="CancelOrder" />
			<wsdl:input>
				<soap:header use="literal" part="requestHeader" message="CancelOrderRequestHeader" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="responseHeader" message="CancelOrderResponseHeader" />
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="InvalidMerchantException">
				<soap:fault use="literal" name="InvalidMerchantException" />
			</wsdl:fault>
			<wsdl:fault name="InvalidOrderException">
				<soap:fault use="literal" name="InvalidOrderException" />
			</wsdl:fault>
			<wsdl:fault name="InvalidTerminalException">
				<soap:fault use="literal" name="InvalidTerminalException" />
			</wsdl:fault>
			<wsdl:fault name="StatusTransitionErrorException">
				<soap:fault use="literal" name="StatusTransitionErrorException" />
			</wsdl:fault>
			<wsdl:fault name="SystemException">
				<soap:fault use="literal" name="SystemException" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="FindOrder">
			<soap:operation soapAction="FindOrder" />
			<wsdl:input>
				<soap:header use="literal" part="requestHeader" message="FindOrderRequestHeader" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="responseHeader" message="FindOrderResponseHeader" />
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="InvalidMerchantException">
				<soap:fault use="literal" name="InvalidMerchantException" />
			</wsdl:fault>
			<wsdl:fault name="InvalidTerminalException">
				<soap:fault use="literal" name="InvalidTerminalException" />
			</wsdl:fault>
			<wsdl:fault name="InvalidParameterException">
				<soap:fault use="literal" name="InvalidParameterException" />
			</wsdl:fault>
			<wsdl:fault name="CashregisterAccessErrorException">
				<soap:fault use="literal" name="CashregisterAccessErrorException" />
			</wsdl:fault>
			<wsdl:fault name="SystemException">
				<soap:fault use="literal" name="SystemException" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="EnrollCashRegister">
			<soap:operation soapAction="EnrollCashRegister" />
			<wsdl:input>
				<soap:header use="literal" part="requestHeader" message="EnrollCashRegisterRequestHeader" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="responseHeader" message="EnrollCashRegisterResponseHeader" />
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="InvalidMerchantException">
				<soap:fault use="literal" name="InvalidMerchantException" />
			</wsdl:fault>
			<wsdl:fault name="SystemException">
				<soap:fault use="literal" name="SystemException" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="CheckSystemStatus">
			<soap:operation soapAction="CheckSystemStatus" />
			<wsdl:input>
				<soap:header use="literal" part="requestHeader" message="CheckSystemStatusRequestHeader" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="responseHeader" message="CheckSystemStatusResponseHeader" />
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="InvalidMerchantException">
				<soap:fault use="literal" name="InvalidMerchantException" />
			</wsdl:fault>
			<wsdl:fault name="InvalidTerminalException">
				<soap:fault use="literal" name="InvalidTerminalException" />
			</wsdl:fault>
			<wsdl:fault name="SystemException">
				<soap:fault use="literal" name="SystemException" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="GetCertificateValidity">
			<soap:operation soapAction="GetCertificateValidity" />
			<wsdl:input>
				<soap:header use="literal" part="requestHeader" message="GetCertificateValidityRequestHeader" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="responseHeader" message="GetCertificateValidityResponseHeader" />
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="InvalidMerchantException">
				<soap:fault use="literal" name="InvalidMerchantException" />
			</wsdl:fault>
			<wsdl:fault name="SystemException">
				<soap:fault use="literal" name="SystemException" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="RenewCertificate">
			<soap:operation soapAction="RenewCertificate" />
			<wsdl:input>
				<soap:header use="literal" part="requestHeader" message="RenewCertificateRequestHeader" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="responseHeader" message="RenewCertificateResponseHeader" />
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="InvalidMerchantException">
				<soap:fault use="literal" name="InvalidMerchantException" />
			</wsdl:fault>
			<wsdl:fault name="CertificateRenewalNotAllowedException">
				<soap:fault use="literal" name="CertificateRenewalNotAllowedException" />
			</wsdl:fault>
			<wsdl:fault name="SystemException">
				<soap:fault use="literal" name="SystemException" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="StartUofRegistration">
			<soap:operation soapAction="StartUofRegistration" />
			<wsdl:input>
				<soap:header use="literal" part="requestHeader" message="StartUofRegistrationRequestHeader" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="responseHeader" message="StartUofRegistrationResponseHeader" />
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="InvalidMerchantException">
				<soap:fault use="literal" name="InvalidMerchantException" />
			</wsdl:fault>
			<wsdl:fault name="UofRegistrationProcessTimeoutDurationTooLongException">
				<soap:fault use="literal" name="UofRegistrationProcessTimeoutDurationTooLongException" />
			</wsdl:fault>
			<wsdl:fault name="UofNotAllowedException">
				<soap:fault use="literal" name="UofNotAllowedException" />
			</wsdl:fault>
			<wsdl:fault name="SystemException">
				<soap:fault use="literal" name="SystemException" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="MonitorUofRegistration">
			<soap:operation soapAction="MonitorUofRegistration" />
			<wsdl:input>
				<soap:header use="literal" part="requestHeader" message="MonitorUofRegistrationRequestHeader" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="responseHeader" message="MonitorUofRegistrationResponseHeader" />
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="InvalidMerchantException">
				<soap:fault use="literal" name="InvalidMerchantException" />
			</wsdl:fault>
			<wsdl:fault name="UofNotAllowedException">
				<soap:fault use="literal" name="UofNotAllowedException" />
			</wsdl:fault>
			<wsdl:fault name="InvalidOrderException">
				<soap:fault use="literal" name="InvalidOrderException" />
			</wsdl:fault>
			<wsdl:fault name="SystemException">
				<soap:fault use="literal" name="SystemException" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="ConfirmUofRegistration">
			<soap:operation soapAction="ConfirmUofRegistration" />
			<wsdl:input>
				<soap:header use="literal" part="requestHeader" message="ConfirmUofRegistrationRequestHeader" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="responseHeader" message="ConfirmUofRegistrationResponseHeader" />
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="InvalidMerchantException">
				<soap:fault use="literal" name="InvalidMerchantException" />
			</wsdl:fault>
			<wsdl:fault name="UofNotAllowedException">
				<soap:fault use="literal" name="UofNotAllowedException" />
			</wsdl:fault>
			<wsdl:fault name="InvalidOrderException">
				<soap:fault use="literal" name="InvalidOrderException" />
			</wsdl:fault>
			<wsdl:fault name="StatusTransitionErrorException">
				<soap:fault use="literal" name="StatusTransitionErrorException" />
			</wsdl:fault>
			<wsdl:fault name="SystemException">
				<soap:fault use="literal" name="SystemException" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="CancelUofRegistration">
			<soap:operation soapAction="CancelUofRegistration" />
			<wsdl:input>
				<soap:header use="literal" part="requestHeader" message="CancelUofRegistrationRequestHeader" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="responseHeader" message="CancelUofRegistrationResponseHeader" />
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="StatusTransitionErrorException">
				<soap:fault use="literal" name="StatusTransitionErrorException" />
			</wsdl:fault>
			<wsdl:fault name="InvalidMerchantException">
				<soap:fault use="literal" name="InvalidMerchantException" />
			</wsdl:fault>
			<wsdl:fault name="UofNotAllowedException">
				<soap:fault use="literal" name="UofNotAllowedException" />
			</wsdl:fault>
			<wsdl:fault name="InvalidOrderException">
				<soap:fault use="literal" name="InvalidOrderException" />
			</wsdl:fault>
			<wsdl:fault name="SystemException">
				<soap:fault use="literal" name="SystemException" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="DeregisterUofConnection">
			<soap:operation soapAction="DeregisterUofConnection" />
			<wsdl:input>
				<soap:header use="literal" part="requestHeader" message="DeregisterUofConnectionRequestHeader" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="responseHeader" message="DeregisterUofConnectionResponseHeader" />
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="InvalidCustomerRelationKeyException">
				<soap:fault use="literal" name="InvalidCustomerRelationKeyException" />
			</wsdl:fault>
			<wsdl:fault name="InvalidMerchantException">
				<soap:fault use="literal" name="InvalidMerchantException" />
			</wsdl:fault>
			<wsdl:fault name="UofNotAllowedException">
				<soap:fault use="literal" name="UofNotAllowedException" />
			</wsdl:fault>
			<wsdl:fault name="SystemException">
				<soap:fault use="literal" name="SystemException" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="TWINT-AcquirerTransactionInterfaceV2">
		<wsdl:port name="AcquirerTransactionInterfacePort" binding="AcquirerTransactionInterfaceSOAPBinding">
			<soap:address location="https://acquirer.twint.ch/service/acquirer/TWINTAcquirerTransactionInterfaceV2" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>